<section class="navTeamSec">
  <div class="headWrapper">
    <ul>
      <li><a href="" class="whiteBorderBtn">Войти</a></li>
      <li>Лига: <span>Чемпионы</span></li>
      <li>Очки: <span>345 3535 54</span></li>
    </ul>
    <ul class="navigationWrap teamNav">
      <li><a href="">Календарь игр</a></li>
      <li><a href="">Лиги</a></li>
      <li><a href="">Сертификаты</a></li>
      <li><a href="">Рейтинг команд</a></li>
      <li><a href="">Франшиза и спонсорство</a></li>
    </ul>
  </div>
</section>
<section class="topInfo team">
  <div class="contentWrap">
    <a href="">Редактировать</a>
    <h1>Барсиковые Войска</h1>
  </div>
  <ul class="contentWrap">
      <li><img src="<%= asset_path('team/achif.png') %>" /></li>
      <li><img src="<%= asset_path('team/achif.png') %>" /></li>
      <li><img src="<%= asset_path('team/achif.png') %>" /></li>
  </ul>
  <div class="contentWrap">
    <ul class="faceParth">
      <li>
        <div class="avatar"></div>
        <p class="captain"> Андрей</p>
      </li>
      <li>
        <div class="avatar"></div>
        <p class="subCaptain"> Юля</p>   
      </li>
      <li>
        <div class="avatar"></div>
        <p> Андрей</p>
      </li>
      <li>
        <div class="avatar"></div>
        <p> Андрей</p>
      </li>
      <li>
        <div class="avatar"></div>
        <p> Андрей</p>
      </li>
      <li>
        <div class="avatar"></div>
        <p> Андрей</p>
      </li>
      <li>
        <div class="avatar"></div>
        <p> Андрей</p>
      </li>
      <li>
        <a href="">
        <div class="avatar">
          <div class="cycle">
            <span></span>
            <span></span>
          </div>
          <sub>еще 2 места</sub>
        </div>
        </a>
      </li>
    </ul>
  </div>
</section>
<section class="teamSec">
  <div class="contentWrap">
    <div class="left Success">
      <h4>Наши успехи</h4>
      <div class="teamSuccessTabs">
        <ul class="navTeamSuccess" role="tablist">
          <li role="presentation" class="active">
            <a href="#reyting" aria-controls="reyting" role="tab" data-toggle="tab">Общий рейтинг</a>
          </li>
          <li role="presentation">
            <a href="#position" aria-controls="position" role="tab" data-toggle="tab">Положение в лиге</a>
          </li>
          <li role="presentation">
            <a href="#statistic" aria-controls="statistic" role="tab" data-toggle="tab">Статистика</a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="reyting">
            <div class="wr">
              <p>Для подсчета<br/> нужно еще <span> 2 игры</span> </p>
              <ul>
                <li class="active"></li>
                <li></li>
                <li></li>
              </ul>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="position">123123</div>
          <div role="tabpanel" class="tab-pane fade" id="statistic">dsad</div>
        </div>
        
      </div>
    </div>
    <div class="right">
      <div class="rectangle">
        <a href="" class="teamList">Список команд</a>
        <a class="location">
          <span>
            <img src="<%= asset_path('symbol/map.png') %>" />
          </span>
          Бар  Ресторан «Coin-Hall
        </a>
        <a class="price">
          <span>
            <img src="<%= asset_path('symbol/ticket.png') %>"/>
          </span>
          500 руб.
        </a>
        <ul class="ad">
          <li>Когда играем?</li>
          <li>2 апреля</li>
          <li>20:30</li>
        </ul>
      </div>
      <div class="square">
        <div class="head">
          <article>Банк команды</article>
          <a href="">Пополнить счет</a>
        </div>
        <div class="body">
          <p class="currentPrice">5 000</p>
        </div>
        <div class="foot bg">
          <p>Итого:<span class="priceShow"> 2 400</span></p>
          <a href="" class="roundBtn">Оплатить игру</a>
        </div>
      </div>
      <div class="square">
        <div class="head">
          <article>Контакты</article>
          <a href="">Редактировать</a>
        </div>
        <div class="body">
          <ul class="userInfo">
            <li class="captain">
              <div class="name">Коля</div>
              <div class="phoneMail">
                <div class="phone">
                  <input type="text" name="phone" value="+7 987 666 66 66" />
                </div>
                <div class="mail">
                  <input type="text" name="mail" value="kolyan.the.captain@yandex.ru" />
                </div>
              </div>
            </li>
            <li class="subCaptain">
              <div class="name">Юля</div>
              <div class="phoneMail">
                <div class="phone">
                  <input type="text" name="phone" value="+7 987 666 66 66" />
                </div>
                <div class="mail">
                  <input type="text" name="mail" value="jule.sub@yandex.ru" />
                </div>
              </div>
            </li>
          </ul>
        </div>
        <ul class="foot">
          <li>
            <a href="">
              <img src="<%= asset_path('symbol/fb.png') %>" />
            </a>
          </li>
          <li>
            <a href="">
              <img src="<%= asset_path('symbol/twiter.png') %>" />
            </a>
          </li>
          <li>
            <a href="">
              <img src="<%= asset_path('symbol/vk.png') %>" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="contentWrap">
      <div class="left photoHead">
        <h3>Фото с наших игр</h3>
      </div>
      <div class="right photoHead">
        <p>Наша команда участвовала <span class="red">8</span> раз</p>
      </div>
  </div>
  <div class="contentWrap">
      <div class="full">

        <div class="photoArchive">
          <h4>2016</h4>
          <ul class="navPhotoArchive" role="tablist">
            <li role="presentation" class="active"><a href="#month1" role="tab" data-toggle="tab">Апрель</a></li>
            <li role="presentation"><a href="#month2" role="tab" data-toggle="tab">Март</a></li>
            <li role="presentation"><a href="#month3" role="tab" data-toggle="tab">Февраль</a></li>
            <li role="presentation"><a href="#month4" role="tab" data-toggle="tab">Январь</a></li>
          </ul>
        </div>
        <div class="tab-content albom">
          <div role="tabpanel" class="tab-pane fade in active" id="month1">
           <div class="AlbomItmWrapper">
             <div class="AlbomItm photoShow">
               <img src="<%= asset_path('symbol/plenka.png') %>" />
               <h4>Проявляем фотопленку <br/> за 22 апреля</h4>
               <a href="">таблица результатов игры</a>
             </div>
             <div class="AlbomItm" style="background-image:url('<%= asset_path('team/photoBg.png') %>'); ">
               <div class="albomInfo">
                 <span>21 апреля</span>
                 <span>320 фото</span>
               </div>
             </div>
             <div class="AlbomItm" style="background-image:url('<%= asset_path('team/photoBg.png') %>'); ">
               <div class="albomInfo">
                 <span>21 апреля</span>
                 <span>320 фото</span>
               </div>
             </div>
             <div class="AlbomItm" style="background-image:url('<%= asset_path('team/photoBg.png') %>'); ">
               <div class="albomInfo">
                 <span>21 апреля</span>
                 <span>320 фото</span>
               </div>
             </div>
            </div>
            <div class="loadMore">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="month2">
           БЛЯЯЯЯЯ2
          </div>
          <div role="tabpanel" class="tab-pane fade" id="month3">
           БЛЯЯЯЯЯ3
          </div>
          <div role="tabpanel" class="tab-pane fade" id="month4">
           БЛЯЯЯЯЯ4
          </div>
        </div>
      </div>
     <!--  <div class="right"></div> -->
  </div>
  <footer class="calendarF">
    <ul>
      <li>
        <div><img src="<%= asset_path('symbol/like.png') %>"/><span>Лойс</span></div>
        <div class="tag">#этомозвадетка</div>
      </li>
      <li>
        <div><img src="<%= asset_path('symbol/location.png') %>"/><span>москва</span></div>
        <img src="<%= asset_path('calendar/logo.png') %>"/>
      </li>
    </ul>
  </footer>
</section>



