<section class="navTeamSec">
  <ul>
    <%= link_to "Выйти", destroy_user_session_path, method: :delete, class: 'whiteBorderBtn' %>
    <li>Лига: <span>Чемпионы</span></li>
    <li>Очки: <span>345 3535 54</span></li>
  </ul>
  <ul class="navigationWrap teamNav">
    <li><a href="">Календарь игр</a></li>
    <li><a href="">Лиги</a></li>
    <li><a href="">Сертификаты</a></li>
    <li><a href="">Рейтинг команд</a></li>
    <li><a href="">Франшиза и спонсорство</a></li>
  </ul>
</section>
<section class="topInfo team">
  <div class="contentWrap">
    <a href="#" class="start_edit">Редактировать</a>
    <h1 id="team_name_header" class="editable" data-name="team[name]" data-action="<%= team_path(@team) %>"><%= @team.name %></h1>
  </div>
  <ul class="contentWrap">
      <li><img src="<%= asset_path('team/achif.png') %>" /></li>
      <li><img src="<%= asset_path('team/achif.png') %>" /></li>
      <li><img src="<%= asset_path('team/achif.png') %>" /></li>
  </ul>
  <div class="contentWrap">
    <ul class="faceParth">
      <% @team.members.each do |member| %>
        <li>
          <div class="avatar"></div>
          <p class="<%= member.team_role %>"><%= member.user.name %></p>
        </li>
      <% end %>
      <% @team.invitations.each do |inv| %>
        <li class="not_member">
          <div class="avatar_wrapper"></div>
          <div class="avatar"></div>
          <p><%= inv.user.name %></p>
        </li>
      <% end %>
      <% unless @team.full? %>
        <li>
          <a href="#invite_modal" data-toggle="modal">
            <div class="avatar">
              <div class="cycle">
                <span></span>
                <span></span>
              </div>
              <sub>еще <%= "#{@team.places} #{Russian.p(@team.places, "место", "места", "мест")}" %></sub>
            </div>
          </a>
        </li>
    <% end %>      
    </ul>
  </div>
</section>
<section class="teamSec">
  <div class="contentWrap">
    <div class="left">
      <h4>Наши успехи</h4>
      <div class="teamSucsesTabs">
        <ul class="navTeamSucses" role="tablist">
          <li role="presentation" class="active">
            <a href="#reyting" aria-controls="reyting" role="tab" data-toggle="tab">Общий рейтинг</a>
          </li>
          <li role="presentation">
            <a href="#position" aria-controls="position" role="tab" data-toggle="tab">Положение в лиге</a>
          </li>
          <li role="presentation">
            <a href="#statistic" aria-controls="statistic" role="tab" data-toggle="tab">Статистика</a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="reyting">
            <div class="wr">
              <p>Для подсчета<br/> нужно еще <span> 2 игры</span> </p>
              <ul>
                <li class="active"></li>
                <li></li>
                <li></li>
              </ul>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="position">123123</div>
          <div role="tabpanel" class="tab-pane fade" id="statistic">dsad</div>
        </div>
        
      </div>
    </div>
    <div class="right">
      <div class="rectangle">
        <a href="" class="teamList">Список команд</a>
        <a class="location">
          <span>
            <img src="<%= asset_path('symbol/map.png') %>" />
          </span>
          Бар  Ресторан «Coin-Hall
        </a>
        <a class="price">
          <span>
            <img src="<%= asset_path('symbol/ticket.png') %>"/>
          </span>
          500 руб.
        </a>
        <ul class="ad">
          <li>Когда играем?</li>
          <li>2 апреля</li>
          <li>20:30</li>
        </ul>
      </div>
      <div class="square">
        <div class="head">
          <article>Банк команды</article>
          <a href="">Пополнить счет</a>
        </div>
        <div class="body">
          <p class="currentPrice">5 000</p>
        </div>
        <div class="foot bg">
          <p>Итого:<span class="priceShow"> 2 400</span></p>
          <a href="" class="roundBtn">Оплатить игру</a>
        </div>
      </div>
      <div class="square">
        <div class="head">
          <article>Контакты</article>
          <a href="">Редактировать</a>
        </div>
        <div class="body">
          <ul class="userInfo">
            <li class="captain">
              <div class="name">Коля</div>
              <div class="phoneMail">
                <div class="phone">
                  <input type="text" name="phone" value="+7 987 666 66 66" />
                </div>
                <div class="mail">
                  <input type="text" name="mail" value="kolyan.the.captain@yandex.ru" />
                </div>
              </div>
            </li>
            <li class="subCaptain">
              <div class="name">Юля</div>
              <div class="phoneMail">
                <div class="phone">
                  <input type="text" name="phone" value="+7 987 666 66 66" />
                </div>
                <div class="mail">
                  <input type="text" name="mail" value="jule.sub@yandex.ru" />
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="foot"></div>
      </div>

    </div>

  </div>
</section>
<!-- <section class="menu menu_lk"> 
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 text-center">
        <ul class="info_panel">
          <li><button class="btn_mozg ">Выйти</button></li>
          <li><a href="">Лига: Чемпионов</a></li>
          <li>Очки: 44 553</li>
        </ul>
      </div>
      <div class="col-md-8 text-left">
        <ul class="menu_link">
          <li><a href="">Календарь игр</a></li>
          <li><a href="">Лиги</a></li>
          <li><a href="">Сертификаты</a></li>
          <li><a href="">Рейтинг команд</a></li>
          <li><a href="">Франшиза и спонсорство</a></li>
        </ul>
      </div>  
    </div>
  </div>
</section> -->
<!-- <section class="first_screen corporativ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12  text-center">
        <h1><span><a href="">Редактировать</a></span>Барсиковые Войска</h1>
      </div>
      <div class="col-md-12 text-center achif">
        <ul>
          <li><img src="<%#= asset_path('team/achif.png') %>" /></li>
          <li><img src="<%#= asset_path('team/achif.png') %>" /></li>
          <li><img src="<%#= asset_path('team/achif.png') %>" /></li>
        </ul>
      </div>
    </div>
  </div>
</section> -->
<!-- <section class="comand">
  <div class="container-fluid  text-center">
    <div class="row">
      <div class="col-md-12 red_border_no_bottom">
        <ul>
          <li>
            <img src="<%#= asset_path('team/lico.png') %>" />
            <h5><span> <img src="<%#= asset_path('symbol/star.png') %>" /></span> Дима</h5>
          </li>
          <li>
            <img src="<%#= asset_path('team/lico.png') %>" />
            <h5><span> <img src="<%#= asset_path('symbol/star.png') %>" /></span> Дима</h5>
          </li>
          <li>
            <img src="<%#= asset_path('team/lico.png') %>" />
            <h5><span> <img src="<%#= asset_path('symbol/star.png') %>" /></span> Дима</h5>
          </li>
          <li>
            <img src="<%#= asset_path('team/lico.png') %>" />
            <h5><span> <img src="<%#= asset_path('symbol/star.png') %>" /></span> Дима</h5>
          </li>
          <li>
            <img src="<%#= asset_path('team/lico.png') %>" />
            <h5><span> <img src="<%#= asset_path('symbol/star.png') %>" /></span> Дима</h5>
          </li>
          <li>
            <a href="">
            <img src="<%#= asset_path('team/add_face.png') %>" />
            <p>Еще 2 места</p></a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section> -->
  
<!-- <section class="calendar wrapp_franshiza red_border">
  <div class="container">
    <div class="row">
      <div class="col-md-6 bg_uspeh text-center" >
        <h5>Наши успехи</h5>
        <ul>
          <li class="activ"><a href="" >Общий рейтинг</a></li>
          <li><a href="">Положение в лиге</a></li>
          <li><a href="">Статистика</a></li>
        </ul> 
        <p class="col_game">Для подсчета<br> нужно еще <span>3 игры</span></p>
      </div>
      <div class="col-md-6 text-center">
        <div class="row">
          <div class="col-md-12" >
              <div class="wrapp_text_franchiz full">
                <h5>Когда играем?</h5>
                <h2>2 апреля</h2>
                <h2>20:30</h2>
                <div class="float_left">
                  <img src="<%#= asset_path('symbol/map.png') %>" />
                  <span>Бар & Ресторан "Coin-Hall"</span>
                </div>
                <div class="float_right">
                  <img src="<%#= asset_path('symbol/ticket.png') %>" />
                  <span>500 руб.</span>
                </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="wrapp_text_franchiz">
                <ul class="right_left">
                  <li class="text-left"><h5>Банк команды</h5></li>
                  <li class="text-right "><p><a href="" class="grey_text">Пополнить счет</a></p></li>
                </ul>
                
                
                <h3>5000 P</h3>
                <div class="sliderWrapper">
                  <div class="slider">
                    <sub>1</sub><input type="range" min="1" max="9" value="1" id="fader" step="0" oninput="outputUpdate(value)"> <sub>9</sub>
                    <output for="fader" id="volume"></output>
                  </div>
                </div>
                
                <div class="red_block">
                  <ul class="right_left">
                    <li class="text-left"><h5>Итого: 4500 р</h5></li>
                    <li class="text-right "><button class="btn_mozg ">Оплатить игру</button></li>
                  </ul>
                </div>
              </div>
            
          </div>
          <div class="col-md-6">
              <div class="wrapp_text_franchiz">
                <ul class="right_left">
                  <li class="text-left"><h5>Контакты</h5></li>
                  <li class="text-right "><p><a href="" class="grey_text">Редактировать</a></p></li>
                </ul>
                <ul class="contact_user text-left">
                  <li>
                     <img src="<%#= asset_path('symbol/star.png') %>" />
                  </li>
                  <li class="name">Коля</li>
                  <li>+75234563433</li>
                  <li class="email">esdfdg@gmail.com</li>
                </ul>
                <ul class="contact_user text-left">
                  <li>
                     <img src="<%#= asset_path('symbol/star.png') %>" />
                  </li>
                  <li class="name">Коля</li>
                  <li>+75234563433</li>
                  <li class="email">esdfdg@gmail.com</li>
                </ul>
                <ul class="soc_wrapp">
                  <li>
                    <img src="<%#= asset_path('symbol/fb.png') %>"/>
                  </li>
                  <li>
                    <img src="<%#= asset_path('symbol/twiter.png') %>"/>
                  </li>
                  <li>
                    <img src="<%#= asset_path('symbol/vk.png') %>"/>
                  </li>
                </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row header_fotogaler">
      <div class="col-md-12">
        <h5 class="float_left">Фото с наших игр</h5>
        <p class="float_right">Наша команда учавствовала <span>8</span> раз</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="mounth_foto">
          <h5>2016</h5>
          <div class="red_line"></div>
          <ul>
            <li><a href="">Апрель</a></li>
            <li><a href="">Март</a></li>
            <li><a href="">Февраль</a></li>
            <li><a href="">Январь</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-10 foto_galery">
        <div class="row">
          <div class="col-md-6">
            <div class="wrapp_text_franchiz no_foto text-center" >
              <img src="<%#= asset_path('symbol/plenka.png') %>"/>
              <p>Проявляем пленку<br> за 22 апреля</p>
              <p class="resalt"><a href="">Таблица результатов игры</a></p>
            </div>
          </div>
          <div class="col-md-6 foto_previu">
            <img class="img-responsive" src="<%#= asset_path('team/Это-Мозгва,-детка!-01-16.png') %>"/>
            <div class="date_and_count">
              <p> <span>20 апреля</span><span>346 фото</span>  </p>
            </div>
          </div>
          <div class="col-md-6 foto_previu">
            <img class="img-responsive" src="<%#= asset_path('team/Это-Мозгва,-детка!-01-16.png') %>"/>
          </div>
          <div class="col-md-6 foto_previu">
            <img class="img-responsive" src="<%#= asset_path('team/Это-Мозгва,-детка!-01-16.png') %>"/>
          </div>
          <div class="col-md-6 foto_previu">
            <img class="img-responsive" src="<%#= asset_path('team/Это-Мозгва,-детка!-01-16.png') %>"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="padding: 20px; margin-top: 50px;">
    <div class="row">
      <div class="col-md-2 text-left">
        <a href="">
        <img src="<%#= asset_path('symbol/like.png') %>" />
        <span>Лойс!</span></a>
      </div>
      <div class="col-md-6 text-left">
        <a href=""><h5 class="tag">#этомозгвадетка</h5></a>
      </div>
      <div class="col-md-1 text-center">
        <img src="<%#= asset_path('symbol/location.png') %>" />
        <span>Москва</span></div>
      <div class="col-md-3 text-center">
        <a href="">
          <img src="<%#= asset_path('team/logo.png') %>"/>
        </a>
      </div>
    </div>
  </div>
</section> -->

<%= render 'shared/team_modal' %>
<%= render 'shared/invite_modal' unless @team.full? %>

