<section class="menu menu_lk"> 
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 text-center">
        <ul class="info_panel">
          <li><button class="btn_mozg ">Выйти</button></li>
          <li><a href="">Лига: Чемпионов</a></li>
          <li>Очки: 44 553</li>
        </ul>
      </div>
      <div class="col-md-8 text-left">
        <ul class="menu_link">
          <li><a href="">Календарь игр</a></li>
          <li><a href="">Лиги</a></li>
          <li><a href="">Сертификаты</a></li>
          <li><a href="">Рейтинг команд</a></li>
          <li><a href="">Франшиза и спонсорство</a></li>
        </ul>
      </div>  
    </div>
  </div>
</section>
<section class="first_screen corporativ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12  text-center">
        <!-- <button class="btn_mozg btn_singin_header">Войти</button> -->
        <h1><span><a href="">Редактировать</a></span>Барсиковые Войска</h1>
      </div>
      <div class="col-md-12 text-center achif">
        <ul>
          <li><img src="<%= asset_path('team/achif.png') %>" /></li>
          <li><img src="<%= asset_path('team/achif.png') %>" /></li>
          <li><img src="<%= asset_path('team/achif.png') %>" /></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="comand">
  <div class="container-fluid  text-center">
    <div class="row">
      <div class="col-md-12 red_border_no_bottom">
        <ul>
          <li>
            <img src="<%= asset_path('team/lico.png') %>" />
            <h5><span> <img src="<%= asset_path('symbol/star.png') %>" /></span> Дима</h5>
          </li>
          <li>
            <img src="<%= asset_path('team/lico.png') %>" />
            <h5><span> <img src="<%= asset_path('symbol/star.png') %>" /></span> Дима</h5>
          </li>
          <li>
            <img src="<%= asset_path('team/lico.png') %>" />
            <h5><span> <img src="<%= asset_path('symbol/star.png') %>" /></span> Дима</h5>
          </li>
          <li>
            <img src="<%= asset_path('team/lico.png') %>" />
            <h5><span> <img src="<%= asset_path('symbol/star.png') %>" /></span> Дима</h5>
          </li>
          <li>
            <img src="<%= asset_path('team/lico.png') %>" />
            <h5><span> <img src="<%= asset_path('symbol/star.png') %>" /></span> Дима</h5>
          </li>
          <li>
            <a href="">
            <img src="<%= asset_path('team/add_face.png') %>" />
            <p>Еще 2 места</p></a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>
  
<section class="calendar wrapp_franshiza red_border">
  <div class="container">
    <div class="row">
      <div class="col-md-6 bg_uspeh text-center" >
        <h5>Наши успехи</h5>
        <ul>
          <li class="activ"><a href="" >Общий рейтинг</a></li>
          <li><a href="">Положение в лиге</a></li>
          <li><a href="">Статистика</a></li>
        </ul> 
        <p class="col_game">Для подсчета<br> нужно еще <span>3 игры</span></p>
        <!-- <img src="<%= asset_path('team/banner_corporat.png') %>" /> -->
      </div>
      <div class="col-md-6 text-center">
        <div class="row">
          <div class="col-md-12" >
              <div class="wrapp_text_franchiz full">
                <h5>Когда играем?</h5>
                <h2>2 апреля</h2>
                <h2>20:30</h2>
                <div class="float_left">
                  <img src="<%= asset_path('symbol/map.png') %>" />
                  <span>Бар & Ресторан "Coin-Hall"</span>
                </div>
                <div class="float_right">
                  <img src="<%= asset_path('symbol/ticket.png') %>" />
                  <span>500 руб.</span>
                </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="wrapp_text_franchiz">
                <ul class="right_left">
                  <li class="text-left"><h5>Банк команды</h5></li>
                  <li class="text-right "><p><a href="" class="grey_text">Пополнить счет</a></p></li>
                </ul>
                
                
                <h3>5000 P</h3>
                <p>
                  <img class="slider_x5" src="<%= asset_path('team/slider_x5.png') %>" />
                </p>
                
                <div class="red_block">
                  <ul class="right_left">
                    <li class="text-left"><h5>Итого: 4500 р</h5></li>
                    <li class="text-right "><button class="btn_mozg ">Оплатить игру</button></li>
                  </ul>
                </div>
              </div>
            
          </div>
          <!-- <div class="col-md-6">
              <div class="wrapp_text_franchiz">
                <h5>Вы - представитель <br> агенства</h5>
                <img src="img/resources/img/icon/download.png" alt="" class="img-responsive">
                <div class="row">
                  <div class="col-md-6">
                    <p><a href="">Скачать райдер</a></p>
                    <p class="grey_text">.PDF(5 Мб)</p>
                  </div>
                  <div class="col-md-6">
                    <p><a href="">Скачать слайд</a></p>
                    <p class="grey_text">.PDF(5 Мб)</p>
                  </div>
                </div>
                
              </div>
          </div> -->
          <div class="col-md-6">
              <div class="wrapp_text_franchiz">
                <ul class="right_left">
                  <li class="text-left"><h5>Контакты</h5></li>
                  <li class="text-right "><p><a href="" class="grey_text">Редактировать</a></p></li>
                </ul>
                <ul class="contact_user text-left">
                  <li>
                     <img src="<%= asset_path('symbol/star.png') %>" />
                  </li>
                  <li class="name">Коля</li>
                  <li>+75234563433</li>
                  <li class="email">esdfdg@gmail.com</li>
                </ul>
                <ul class="contact_user text-left">
                  <li>
                     <img src="<%= asset_path('symbol/star.png') %>" />
                  </li>
                  <li class="name">Коля</li>
                  <li>+75234563433</li>
                  <li class="email">esdfdg@gmail.com</li>
                </ul>
                <ul class="soc_wrapp">
                  <li>
                    <img src="<%= asset_path('symbol/fb.png') %>"/>
                  </li>
                  <li>
                    <img src="<%= asset_path('symbol/twiter.png') %>"/>
                  </li>
                  <li>
                    <img src="<%= asset_path('symbol/vk.png') %>"/>
                  </li>
                </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row header_fotogaler">
      <div class="col-md-12">
        <h5 class="float_left">Фото с наших игр</h5>
        <p class="float_right">Наша команда учавствовала <span>8</span> раз</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="mounth_foto">
          <h5>2016</h5>
          <div class="red_line"></div>
          <ul>
            <li><a href="">Апрель</a></li>
            <li><a href="">Март</a></li>
            <li><a href="">Февраль</a></li>
            <li><a href="">Январь</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-10 foto_galery">
        <div class="row">
          <div class="col-md-6">
            <div class="wrapp_text_franchiz no_foto text-center" >
              <img src="<%= asset_path('symbol/plenka.png') %>"/>
              <p>Проявляем пленку<br> за 22 апреля</p>
              <p class="resalt"><a href="">Таблица результатов игры</a></p>
            </div>
          </div>
          <div class="col-md-6 foto_previu">
            <img class="img-responsive" src="<%= asset_path('team/Это-Мозгва,-детка!-01-16.png') %>"/>
            <div class="date_and_count">
              <p> <span>20 апреля</span><span>346 фото</span>  </p>
            </div>
          </div>
          <div class="col-md-6 foto_previu">
            <img class="img-responsive" src="<%= asset_path('team/Это-Мозгва,-детка!-01-16.png') %>"/>
          </div>
          <div class="col-md-6 foto_previu">
            <img class="img-responsive" src="<%= asset_path('team/Это-Мозгва,-детка!-01-16.png') %>"/>
          </div>
          <div class="col-md-6 foto_previu">
            <img class="img-responsive" src="<%= asset_path('team/Это-Мозгва,-детка!-01-16.png') %>"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="padding: 20px; margin-top: 50px;">
    <div class="row">
      <div class="col-md-2 text-left">
        <a href="">
        <img src="<%= asset_path('symbol/like.png') %>" />
        <span>Лойс!</span></a>
      </div>
      <div class="col-md-6 text-left">
        <a href=""><h5 class="tag">#этомозгвадетка</h5></a>
      </div>
      <div class="col-md-1 text-center">
        <img src="<%= asset_path('symbol/location.png') %>" />
        <span>Москва</span></div>
      <div class="col-md-3 text-center">
        <a href="">
          <img src="<%= asset_path('team/logo.png') %>"/>
        </a>
      </div>
    </div>
  </div>
</section>