
<section class="topInfo franchise">
  <div class="contentWrap">
    <a class="whiteBorderBtn" href="">Войти</a>
    <h1>Приглашение<br/> в команду</h1>

   <!--  <%# if @team %>&laquo<%#= @team.name %>&raquo<%# end %> -->
  </div>
</section>
<section class="franchiseSec">
  <ul class="navigationWrap">
    <li><%= link_to root_path do %>Главная<% end %></li>
    <li><%= link_to leagues_path do %>Лиги<% end %></li>
    <li><%= link_to calendar_path do %>Календарь игр<% end %></li>
    <li><%= link_to sert_path do %>Сертификаты<% end %></li>
    <li><%= link_to rating_path do %>Рейтинг команд<% end %></li>
    <li><%= link_to korporat_path do %>Корпоратив<% end %></li>
    <li><%= link_to franchise_path do %>Франшиза и спонсорство<% end %></li>
  </ul>
  <div class="mainWrap invite">
    <div class="AboutInviteWrap">
      <article>Приглашение пришло от команды<br/>
      <%if @team %><span>&laquo<%= @team.name %>&raquo<% end %></span></article>
      <%= devise_error_messages! %>
      <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <p class="error"><%= error %></p>
        <% end %>
      <% end %>
    </div>
    <div class="formSert">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="formWrap">
      
        <%= f.text_field :name, autofocus: true, placeholder: 'Имя', class: "lineInput", required: true %>


      <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "lineInput", required: true %>

      <%= f.text_field :phone, placeholder: 'Телефон', class: "lineInput" %>

      

      <label for="user_password">
        Пароль 
        <% if @minimum_password_length %>
          <span>(минимум <%= @minimum_password_length %> символов)</span>
        <% end %>
      </label>
      
      <%= f.password_field :password, placeholder: 'Пароль', class: "lineInput", autocomplete: "off" %>

      <%= f.password_field :password_confirmation, placeholder: 'Подтверждение пароля', class: "lineInput", autocomplete: "off" %>


      <%= hidden_field_tag :invite, @team.invite if @team %>

     <%= f.submit "Сохранить", class: "blueBtn" %>
    </div>
    <% end %>
    </div>
  </div>

</section>


<%#= render "devise/shared/links" %>
