<section class="topInfo franchise">
  <div class="contentWrap">
    <div class="btnWrap authorizationWrap">
      <%= render 'shared/topleft_menu' %>
    </div>
    <h1>Изменить пароль</h1>
  </div>
</section>
<section class="franchiseSec">
  <ul class="navigationWrap">
    <li><%= link_to root_path do %>Главная<% end %></li>
    <li><a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="Все еще в разработке">Лиги</a></li>
    <li><%= link_to calendar_path do %>Календарь игр<% end %></li>
    <li><%= link_to sert_path do %>Сертификаты<% end %></li>
    <li><a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="Все еще в разработке">Рейтинг команд</a></li>
    <li><%= link_to korporat_path do %>Корпоратив<% end %></li>
    <li><%= link_to franchise_path do %>Франшиза и спонсорство<% end %></li>
  </ul>
  <div class="mainWrap invite">
    <div class="AboutInviteWrap">
      <%= devise_error_messages! %>
      <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <p class="error"><%= error %></p>
        <% end %>
      <% end %>
    </div>
    <div class="formSert">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <div class="formWrap">
          <%= f.hidden_field :reset_password_token %>
          <%= f.password_field :password, autofocus: true, placeholder: 'Новый пароль', class: "lineInput", required: true, autocomplete: "off" %>
          <%= f.password_field :password_confirmation, placeholder: 'Подтверждение пароля', class: "lineInput", required: true, autocomplete: "off" %>
          <%= f.submit "Сохранить", class: "blueBtn" %>
        </div>
      <% end %>
    </div>
  </div>
  <footer class="franchiseF">
    <ul>
      <li>
        <div class="dropup like">
          <button type="button" class="Share" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="<%= asset_path('symbol/like.png') %>" />Лойс
          </button>
          <ul class="dropdown-menu a2a_kit">
            <li>
              <a class="a2a_button_vk" href="">
                <img src="<%= asset_path('symbol/vk.png') %>"/>
              </a>
            </li>
            <li>
              <a class="a2a_button_twitter" href="#">
                <img src="<%= asset_path('symbol/twiter.png') %>"/>
              </a>
            </li>
            <li>
              <a class="a2a_button_facebook" href="#">
                <img src="<%= asset_path('symbol/fb.png') %>"/>
              </a>
            </li>
          </ul>
        </div>
        <div class="tag">#этомозвадетка</div>
      </li>
      <li>
        <%= link_to root_path do %>
          <img src="<%= asset_path('calendar/logo.png') %>"/>
        <% end %>
      </li>
    </ul>
  </footer>
</section>