<div class="modal fade in signIn" id="sign_in">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="closeModal" data-dismiss="modal">
          <span></span>
          <span></span>
        </div>
        <h2 class="text-center">Авторизация</h2>
      </div>
      <div class="modal-body">
        <%= form_for(User.new, url: session_path(:user), html:{id: 'sign_in_user', :'data-type' => 'json'  }, remote: true) do |f| %>
          
            <%= f.email_field :email, autofocus: true, placeholder: "Почта", class: "modalInput", required: true %>
            <%= f.password_field :password, autocomplete: "off", placeholder: "Пароль", class: "modalInput", required: true %>
          <% if Devise.mappings[:user].rememberable? -%>
            <a data-dismiss="modal" data-toggle="modal" data-target="#restore_password" aria-hidden="false" href="#">Забыли пароль?</a>
            <ul class="social">
              <li>
                <a href="">
                  <img src="<%= asset_path('symbol/fb.png') %>" />
                </a>
              </li>
              <li>
                <a href="">
                  <img src="<%= asset_path('symbol/twiter.png') %>" />
                </a>
              </li>
              <li>
                <a href="">
                  <img src="<%= asset_path('symbol/vk.png') %>" />
                </a>
              </li>
            </ul>
            
          <% end -%>
          <%= f.submit "Готово", class: "blueBtn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>