<section class="lightningSection">
	<div class="contentWrapper">
		<p>
			<span><img src="<%= asset_path('lightningSec/lightning.png') %>"></span>
			Молния!
		</p>
		<div class="imgWrapp">
			<img class="left" src="<%= asset_path('lightningSec/bgLeft.png') %>">
		</div>
		<h3>Начинается Чемпионат Мозгвы! Опа-опа!</h3>
	</div>
</section>
<section class="headInfo">
	<div class="contentWrapper">
		<div class="line">
			<div class="authorizationWrap" >

				<% if current_user %>
				<span>
					<img src="<%= asset_path('lightningSec/lightning.png') %>">
					<div class="links">
						<%= link_to "Выйти", destroy_user_session_path, method: :delete %>
						<%= link_to "Редактировать профиль", '#edit_profile', 'data-toggle' => 'modal' %>
						<% if current_user.invitations.present? %>
						<%= link_to "#{current_user.invitations.count} #{Russian.p(current_user.invitations.count, "приглашение", "приглашения", "приглашений")}", '#invitations_modal', 'data-toggle' => 'modal' %>
						<% end %>
						<% if current_user.team %>
						<%= link_to("Моя команда", my_team_path) %>
						<% else %>
						<% if current_user.phone_confirmed_at %>
						<%= link_to('Создать команду', '#team_modal', 'data-toggle' => 'modal') %>
						<% else %>
						<a href="#phone_confirmation" data-toggle="modal">Создать команду</a>
						<% end %>
						<% end %>
					</div>
				</span>
				<% else %>
				<span>
					<img src="<%= asset_path('lightningSec/lightning.png') %>">
					<div class="links">
						<a href="#sign_in" data-toggle="modal">Войти</a>
						<a href="#sign_up" data-toggle="modal">Зарегистрироваться</a>
					</div>
				</span>
				<% end %>
			</div>

			<div class="logoWrap">
				<a href="/"><img src="<%= asset_path('logo.png') %>"></a>
			</div>
			<div class="wrapSelectCityMonth">
				<!-- <img src="<%= asset_path('symbol/location.png') %>"/> -->
				<div class="wrapper-dropdown" tabindex="1" id="update_city" data-method="put" data-action="<%=update_city_path%>">
					<span data-value="<%= @city.id %>"><%= @city.name %></span>
					<ul class="dropdown" tabindex="1" data-name="city_id">
						<% City.all.each do |city| %>
						<li><a href="#" data-value="<%= city.id %>"><%= city.name %></a></li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
		<div class="line SomeTabs">
			<%= link_to leagues_path do %>
			<div class="item">
				<img src="<%= asset_path('header/ligi.png') %>">
				<p>Лиги</p>
			</div>
			<% end %>
			<%= link_to sert_path do %>
			<div class="item">
				<img src="<%= asset_path('header/gifts.png') %>">
				<p>Подарочные<br/> сертификаты</p>
			</div>
			<% end %>
			<%= link_to rating_path do %>
			<div class="item">
				<img src="<%= asset_path('header/rang.png') %>">
				<p>Рейтинг<br/> команд</p>
			</div>
			<% end %>
			<%= link_to calendar_path do %>
			<div class="item">
				<img src="<%= asset_path('header/calendar.png') %>">
				<p>Календарь игр</p>
			</div>
			<% end %>
			<%= link_to korporat_path do %>
			<div class="item">
				<img src="<%= asset_path('header/korporat.png') %>">
				<p>Корпоратив</p>
			</div>
			<% end %>
			<%= link_to franchise_path do %>
			<div class="item">
				<img src="<%= asset_path('header/connect.png') %>">
				<p>Франшиза<br/> и спонсорство</p>
			</div>
			<% end %>
		</div>

	</div>
</section>
<section class="aboutSec">
	<div class="contentWrapper">
		<div class="infoWrap">
			<h1>Это Мозгва,<br/> детка</h1>
			<p>Мозгва — это 10 000 участников и 245 команд!<br/>
				Это еще что-нибудь, например!</p>
			</div>
			<span class="tag">#ЭтоМозгваДетка</span>
			<ul class="cycles">
				<li><img src="<%= asset_path('aboutSec/left.png') %>"></li>
				<li><img src="<%= asset_path('aboutSec/right.png') %>"></li>
			</ul>
			<a class="like">
				<img src="<%= asset_path('symbol/like.png') %>" />
				Лойс
			</a>
			<div class="playBtn">
				<img src="<%= asset_path('aboutSec/play.png') %>"/>
			</div>
		</div>
	</section>



	<section class="noticeSection">
		<div class="fullWrapp">
			<div class="left">
				<div class="wrapSelectCityMonth" id="games_filter" data-action="<%=games_filter_path%>" data-method="get"> <!--SELECT SITY & MONTH-->
					<div id="dd" class="wrapper-dropdown" tabindex="1">
						<span data-current-value="<%= @city.id %>"><%= @city.name %></span>
						<ul class="dropdown" tabindex="1" data-name="city_id">
							<% City.all.each do |city| %>
							<li><a href="#" data-value="<%= city.id %>"><%= city.name %></a></li>
							<% end %>
						</ul>
					</div>
					<div id="dd2" class="wrapper-dropdown" style="right:0" tabindex="1">
						<span data-current-value="<%= @curr_month.first %>"><%= @curr_month.second %></span>
						<ul class="dropdown" tabindex="1" data-name="year_month">
							<% @months.each do |month| %>
							<li><a href="#" data-value="<%= month.first %>"><%= month.second %></a></li>
							<% end %>
						</ul>
					</div>
					​</div> <!--AND SELECT SITY & MONTH-->
					<div class="gamesTabs">
						<%= render 'games/tabs' %>
					</div>
				</div>
				<div class="right">
					<div class="noticCarosel">
						<%= render 'games/main_carousel' %>
					</div>
				</div>
			</div>
			<div class="fullWrapp">
				<div class="left">
					<div class="photoTabs">
						<div class="head">
							<h2>Фоточки</h2>
						</div>

						<div class="body">

							<div id="mySliderTabs" >
								<%months_hash = {1=> 'Января', 2 => 'Февраля', 3 => 'Марта', 4=> 'Апреля', 5 => 'Мая', 6 => 'Июня', 7 => 'Июля',  8 => 'Августа',  9 => 'Сентября',  10 => 'Октября',  11 => 'Ноября',  12 => 'Декабря',}%>
								<ul class="tabNav">
								<% @past_games.order(when: :asc).each_with_index do |game, i|%>
									<li <%='class=active' if i == 0%>><a href="#tab<%=i+1%>" data-toggle="tab"><%=game.when.strftime("%d")%> <%=months_hash[game.when.month]%></a></li>
									<%end%>
								</ul>
							</div>


							<div class="tab-content">
								<% @past_games.each_with_index do |game, i|%>
								<div class="tab-pane <%='active' if i == 0%>" id="tab<%=i+1%>">
									<p><%=game.photos.count%> штук</p>
									<div class="center">
										<%game.photos.each do |photo|%>
										<div><div class="photoItemWrap" style="background-image:url(<%=photo.image.url%>);"></div>
									</div>
									<%end%>
								</div>
							</div>
							<%end%>
						</div>
					</div>
				</div>
			</div>
			<div class="right">
				<div class="adParthTop" style="background-image:url(<%= asset_path('ad/heineken.png')%>);">
				</div>
				<div class="adParthBottom">
					<div class="carouselWrap">

						<div class="teamsCarousel">
							<div class="item">
								<img src="<%= asset_path('ad/cherries.png')%>"/>
								<ul>
									<li style="background-image:url(<%= asset_path('ad/ava0.png')%>);"></li>
									<li style="background-image:url(<%= asset_path('ad/ava2.png')%>);"></li>
									<li style="background-image:url(<%= asset_path('ad/ava3.png')%>);"></li>
									<li style="background-image:url(<%= asset_path('ad/ava4.png')%>);"></li>
									<li style="background-image:url(<%= asset_path('ad/ava5.png')%>);"></li>
									<li style="background-image:url(<%= asset_path('ad/ava3.png')%>);"></li>
								</ul>
							</div>
							<div class="item">
								<img src="<%= asset_path('ad/cherries.png')%>"/>
							</div>
							<div class="item">
								<img src="<%= asset_path('ad/cherries.png')%>"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="wrapPartnerSec">
			<div class="partnerCarousel">
				<div class="item">
					<img src="<%= asset_path('partners/kaspersky.png') %>" />
					<p>Касперский</p>
				</div>
				<div class="item">
					<img src="<%= asset_path('partners/microsoft.png') %>" />
					<p>Майкрософт</p>
				</div>
				<div class="item">
					<img src="<%= asset_path('partners/publicis.png') %>" />
					<p>Публицис</p>
				</div>
			</div>
		</div>
		<footer>
			<div class="fullWrapp">
				<div class="left">
					<ul>
						<li><a href="/calendar">Календарь игр</a></li>
						<li><a href="/leagues">Лиги</a></li>
						<li><a href="/sert">Сертификаты</a></li>
						<li><a href="/rating">Рейтинг команд</a></li>
						<li><a href="/franchise">Франшиза и спонсорство</a></li>
					</ul>
				</div>
				<div class="right">
					<ul>
						<li><span><img src="<%= asset_path('symbol/like.png') %>"/></span>Первая бар-олимпиада</li>
						<li><img src="<%= asset_path('logoFooter.png') %>"/></li>
					</ul>
				</div>
			</div>
		</footer>
	</section>



	<% unless current_user %>
	<%= render 'shared/sign_in' %>
	<%= render 'shared/sign_up' %>
	<%= render 'shared/restore_password' %>
	<% else %>
	<%= render 'shared/edit_profile' %>
	<%= render 'shared/team_modal' unless current_user.team %>
	<%= render 'shared/phone_confirmation' unless current_user.phone_confirmed_at %>
	<%= render 'shared/invitations_modal' if current_user.invitations.present? %>
	<% end %>
	<%= render 'shared/errors_modal' %>
	<%= render 'shared/teams_modal' %>
