<section class="topInfo korporat">
	<div class="contentWrap">
		<div class="btnWrap authorizationWrap">
		  <%= render 'shared/topleft_menu' %>
		</div>
		<h1>Корпоратив</h1>
	</div>
</section>

<section class="korporatSek">
	<ul class="navigationWrap">
		<li><%= link_to root_path do %>Главная<% end %></li>
		<li><a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="Все еще в разработке">Лиги</a></li>
		<li><%= link_to sert_path do %>Сертификаты<% end %></li>
		<li class="calendarIgr"><%= link_to calendar_path do %>Календарь игр<% end %></li>
		<li><%= link_to rating_path do %>Рейтинг команд<% end %></li>
		<li><%= link_to franchise_path do %>Франшиза и спонсорство<% end %></li>
	</ul>
	<div class="mainWrap">
		<div class="widget">
			<h2>Мозгва<br/>для коллег!</h2>
			<a href="" class="btnBlue">
				Хочу!
			</a>
			<p class="phone">Если у Вас есть вопрос:<br/> 
			<span>8 800 000 000</span></p>
			<div class="bottom">
				<sub>Дуэт ведущих</sub>
				<article>РИС</article>
				<p>Слова про наших: могут провести все мероприятие <br/>и что если на английском, то поможем</p>
				<ul class="social">
					<li>
			            <a href="">
			              <img src="<%= asset_path('symbol/fb.png') %>" />
			            </a>
			          </li>
			          <li>
			            <a href="">
			              <img src="<%= asset_path('symbol/twiter.png') %>" />
			            </a>
			          </li>
			          <li>
			            <a href="">
			              <img src="<%= asset_path('symbol/vk.png') %>" />
			            </a>
			          </li>
				</ul>
				
			</div>
		</div>
		<div class="infoBlock ">
			<div class="square">
				<article>Вместимость<br/> одной Мозгвы</article>
				<img src="<%= asset_path('korporat/kolvo.png') %>"/>
			</div>
			<div class="square threeEl">
				<article>Предлагаемая<br/> площадка</article>
				<img src="<%= asset_path('korporat/location.png') %>"/>
				<p>Бар & Ресторан «Coin-Hall» или опенэйр, например</p>
			</div>
			<div class="square threeEl">
				<article>Вы - представитель<br/> агенства</article>
				<img src="<%= asset_path('symbol/download.png') %>"/>
				<div class="wrapDownload">
					<div class="item">
						<span>.PDF (5 Мб)</span><br/>
						<a href="">скачать райдер</a>
					</div>
					<div class="item">
						<span>.PDF (5 Мб)</span><br/>
						<a href="">скачать слайд</a>
					</div>
				</div>
			</div>
			<div class="square threeEl">
				<article>Условия<br/> сотрудничества</article>
				<img src="<%= asset_path('symbol/download.png') %>"/>
				<div class="wrapDownload">
					<div class="item">
						<span>.PDF (5 Мб)</span><br/>
						<a href="">скачать</a>
					</div>
				</div>
			</div>
			<div class="infoText">
				<article>Про контент</article>
				<p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал он. Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах.</p>
				<a href="">Написать авторам</a>
			</div>
		</div>
	</div>
	<div class="wrapPartnerSec">
		<div class="partnerCarousel">
			<div class="item">
				<img src="<%= asset_path('partners/kaspersky.png') %>" />
				<p>Касперский</p>
			</div>
			<div class="item">
				<img src="<%= asset_path('partners/microsoft.png') %>" />
				<p>Майкрософт</p>
			</div>
			<div class="item">
				<img src="<%= asset_path('partners/publicis.png') %>" />
				<p>Публицис</p>
			</div>
		</div>
	</div>
	<div class="mainWrap">
		<div class="quest">
			<div class="desriptQuest">
				<article>Кейтеринг</article>
				<p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах.</p>
			</div>
			<div class="imgQuest" style="background-image:url(<%= asset_path('korporat/pic.png') %>);"></div>
			<div class="answer">
				<article>Кто автор?</article>
				<div class="ans true">
					<%= radio_button_tag(:selectAns, "first") %>
					<%= label_tag(:selectAns_first, "Франс Снейдерс") %>
					<div class="descr">
						Это, конечно же, Франс Снейдерс. Фламандский живописец, мастер натюрмортов и анималистических композиций в стиле барокко. Вам бы на Мозгву с такими знаниями!
					</div>
				</div>
				<div class="ans">
					<%= radio_button_tag(:selectAns, "second") %>
					<%= label_tag(:selectAns_second, "Джакомо Леги") %>
					<div class="descr">
						Нет, правильный ответ - Франс Снейдерс.
					</div>
				</div>
				<div class="ans">
					<%= radio_button_tag(:selectAns, "third") %>
					<%= label_tag(:selectAns_third, "Ян Рус") %>
					<div class="descr">
						Нет, правильный ответ - Франс Снейдерс.
					</div>
				</div>
			</div>
			
		</div>
		<div class="gallery">
			<div class="desriptPhotoVideo">
				<article>Кейтеринг</article>
				<p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах.</p>
			</div>
			<iframe width="100%" height="315" src="https://www.youtube.com/embed/ZTz5GO3--JM" frameborder="0" allowfullscreen></iframe>
			<ul class="photos">
				<li style="background-image:url(<%= asset_path('korporat/pic.png') %>);"></li>
				<li style="background-image:url(<%= asset_path('korporat/pic.png') %>);"></li>
			</ul>
			</div>
			
		</div>
	</div>
	<footer class="korporatF">
		<ul>
			<li>
				<div class="dropup like">
					<button type="button" class="Share" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    <img src="<%= asset_path('symbol/like.png') %>" />Лойс
				  </button>
				  <ul class="dropdown-menu a2a_kit">
				  	<li>
				  		<a class="a2a_button_vk" href="">
				  			<img src="<%= asset_path('symbol/vk.png') %>"/>
				  		</a>
				  	</li>
				  	<li>
				  		<a class="a2a_button_twitter" href="#">
				  			<img src="<%= asset_path('symbol/twiter.png') %>"/>
				  		</a>
				  	</li>
				  	<li>
				  		<a class="a2a_button_facebook" href="#">
				  			<img src="<%= asset_path('symbol/fb.png') %>"/>
				  		</a>
				  	</li>
				  </ul>
				</div>
				<div class="tag">#этомозвадетка</div>
			</li>
			<li>
				<!--SELECT SITY & MONTH
				<div class="wrapSelectCityMonth" id="games_filter" data-action="<%=games_filter_path%>" data-method="get">
					<div id="dd" class="update_city wrapper-dropdown dropup" tabindex="1">
						<span data-current-value="<%= @city.id %>"><%= @city.name %></span>
						<ul class="dropdown" tabindex="1" data-name="city_id">
							<% City.all.each do |city| %>
							<li><a href="#" data-value="<%= city.id %>" data-current-value="<%= @city.id %>"><%= city.name %></a></li>
							<% end %>
						</ul>
					</div>
					<div style="display:none">
						<span data-current-value="4">4</span>
						<ul data-name="max_groups"><li></li></ul>
					</div>
				</div>
				AND SELECT SITY & MONTH-->
				<%= link_to root_path do %>
				<img src="<%= asset_path('calendar/logo.png') %>"/>
				<% end %>
			</li>
		</ul>
	</footer>
</section>
