<section class="topInfo franchise">
	<div class="contentWrap">
		<div class="btnWrap authorizationWrap">
			<% if current_user %>
			<span>
				<img src="<%= asset_path('lightningSec/lightning.png') %>">
				<div class="links">
					<%= link_to "Выйти", destroy_user_session_path, method: :delete %>
					<%= link_to "Редактировать профиль", '#edit_profile', 'data-toggle' => 'modal' %>
					<% if current_user.invitations.present? %>
					<%= link_to "#{current_user.invitations.count} #{Russian.p(current_user.invitations.count, "приглашение", "приглашения", "приглашений")}", '#invitations_modal', 'data-toggle' => 'modal' %>
					<% end %>
					<% if current_user.team %>
					<%= link_to("Моя команда", my_team_path) %>
					<% else %>
					<% if current_user.phone_confirmed_at %>
					<%= link_to('Создать команду', '#team_modal', 'data-toggle' => 'modal') %>
					<% else %>
					<a href="#phone_confirmation" data-toggle="modal">Создать команду</a>
					<% end %>
					<% end %>
				</div>
			</span>
			<% else %>
			<span>
				<img src="<%= asset_path('lightningSec/lightning.png') %>">
				<div class="links">
					<a href="#sign_in" data-toggle="modal">Войти</a>
					<a href="#sign_up" data-toggle="modal">Зарегистрироваться</a>
				</div>
			</span>
			<% end %>
		</div>
		<h1>Сертификат</h1>
	</div>
</section>

<section class="franchiseSec">
	<ul class="navigationWrap">
		<li><%= link_to root_path do %>Главная<% end %></li>
		<li><%= link_to leagues_path do %>Лиги<% end %></li>
		<li><%= link_to calendar_path do %>Календарь игр<% end %></li>
		<li><%= link_to rating_path do %>Рейтинг команд<% end %></li>
		<li><%= link_to korporat_path do %>Корпоратив<% end %></li>
		<li><%= link_to franchise_path do %>Франшиза и спонсорство<% end %></li>
	</ul>
	<div class="mainWrap sert">
		<div class="AboutSertWrap">
			<article>Дарите<br/> Мозгву!</article>
			<p>Забудьте про цветы. У нас можно купить подарочные сертификаты на 3-х, 6-х и 9-х участников. Забрать сертификаты можно на одной из игр или у нас в офисе в р-не Третьяковской.</p>
			<img src="<%= asset_path('sert/sert.png') %>" class="img-responsive"/>
		</div>
		<div class="formSert">
			<form action="https://docs.google.com/a/dshop24.ru/forms/d/e/1FAIpQLSeZxiGLT1FngyMp-CPTMkXSPwPFdVPcLHsOPbkIwm09jOA7Tw/formResponse" method="POST" id="ss-form" target="_self" onsubmit="">
				<div class="formWrap">
					<input class="lineInput" placeholder="Имя" type="text" name="entry.1500946687" id="entry_1500946687" />
					<input class="lineInput" placeholder="Почта" type="mail" name="mail" />
					<input class="lineInput" placeholder="Телефон" type="text" name="phone" />
					<div class="selectWrap">
						<article>Хочу подарить</article>
						<input type="radio" name="kolvo" id="three" value="three">
						<label for="three">Игру для 3-х</label>

						<input type="radio" name="kolvo" id="six" value="six">
						<label for="six">Игру для 6-х</label>

						<input type="radio" name="kolvo" id="nine" value="nine">
						<label for="nine">Игру для 9-х</label>
					</div>
					<div class="selectWrap">
						<article>Предпочитаю забрать</article>
						<input type="radio" name="takeAway" id="onGame" value="onGame">
						<label for="onGame">На игре</label>
						<input type="radio" name="takeAway" id="independently" value="independently">
						<label for="independently">Самостоятельно</label>
					</div>
					<input type="submit" class="redBtn" value="Подарить" name="" />
				</div>

			</form>
		</div>
	</div>
	<footer class="franchiseF">
		<ul>
			<li>
				<div><img src="<%= asset_path('symbol/like.png') %>"/><span>Лойс</span></div>
				<div class="tag">#этомозвадетка</div>
			</li>
			<li>
				<div><img src="<%= asset_path('symbol/location.png') %>"/><span data-current-value="<%= @city.id %>"><%= @city.name %></span></div>
				<img src="<%= asset_path('calendar/logo.png') %>"/>
			</li>
		</ul>
	</footer>
</section>

<% unless current_user %>
<%= render 'shared/sign_in' %>
<%= render 'shared/sign_up' %>
<%= render 'shared/restore_password' %>
<% else %>
<%= render 'shared/edit_profile' %>
<%= render 'shared/team_modal' unless current_user.team %>
<%= render 'shared/phone_confirmation' unless current_user.phone_confirmed_at %>
<%= render 'shared/invitations_modal' if current_user.invitations.present? %>
<% end %>
<%= render 'shared/errors_modal' %>
<%= render 'shared/teams_modal' %>