<% ratings.each do |rating| %>
	<ul class="itemTeam">
	    <li><%= link_to rating[:name], teams_path(rating[:id]) %></li> 
	    <li>
	    	<div class="percent">
	    	<h4>Кач-во игры</h4>
	    	<p><%= rating[:percent].round(2) %>%</p>
	    	</div>
	    	<div class="score">
	    		<h4>Кол-во баллов</h4>
	    		<p><%= rating[:scores] %></p>
	    	</div>
	    	<div class="countG">
	    		<h4>Кол-во игр</h4>
	    		<p><%= rating[:games_count] %></p>
	    	</div>
	    </li>
	    <li>
	    <% if rating[:percent].round(2) < 70 %>
	    	<% if rating[:scores] < 300 %>
	    	<img src="<%= asset_path('img_venki/1-Зеленый-d.png')%>"/>
	    	<% elsif rating[:scores] > 2000 %>
	    	<img src="<%= asset_path('img_venki/1-Зеленый-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Зеленый-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Зеленый-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Зеленый-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Зеленый-d.png')%>"/>
	    	<% elsif rating[:scores] > 1000 %>
	    	<img src="<%= asset_path('img_venki/1-Зеленый-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Зеленый-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Зеленый-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Зеленый-d.png')%>"/>
	    	<% elsif rating[:scores] > 500 %>
	    	<img src="<%= asset_path('img_venki/1-Зеленый-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Зеленый-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Зеленый-d.png')%>"/>
	    	<% elsif rating[:scores] > 300 %>
	    	<img src="<%= asset_path('img_venki/1-Зеленый-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Зеленый-d.png')%>"/>
	    	<% end %>
	    	
		<% end %>
		<% if rating[:percent].round(2) >= 70 and rating[:percent].round(2) < 75 %>
			<% if rating[:scores] < 300 %>
	    	<img src="<%= asset_path('img_venki/1-Голубой-d.png')%>"/>
	    	<% elsif rating[:scores] > 2000 %>
	    	<img src="<%= asset_path('img_venki/1-Голубой-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Голубой-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Голубой-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Голубой-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Голубой-d.png')%>"/>
	    	<% elsif rating[:scores] > 1000 %>
	    	<img src="<%= asset_path('img_venki/1-Голубой-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Голубой-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Голубой-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Голубой-d.png')%>"/>
	    	<% elsif rating[:scores] > 500 %>
	    	<img src="<%= asset_path('img_venki/1-Голубой-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Голубой-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Голубой-d.png')%>"/>
	    	<% elsif rating[:scores] > 300 %>
	    	<img src="<%= asset_path('img_venki/1-Голубой-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Голубой-d.png')%>"/>
	    	<% end %>
	    <% end %>
	    <% if rating[:percent].round(2) >= 75 and rating[:percent].round(2) < 80 %>
	    	<% if rating[:scores] < 300 %>
	    	<img src="<%= asset_path('img_venki/1-Бронза-d.png')%>"/>
	    	<% elsif rating[:scores] > 2000 %>
	    	<img src="<%= asset_path('img_venki/1-Бронза-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Бронза-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Бронза-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Бронза-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Бронза-d.png')%>"/>
	    	<% elsif rating[:scores] > 1000 %>
	    	<img src="<%= asset_path('img_venki/1-Бронза-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Бронза-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Бронза-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Бронза-d.png')%>"/>
	    	<% elsif rating[:scores] > 500 %>
	    	<img src="<%= asset_path('img_venki/1-Бронза-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Бронза-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Бронза-d.png')%>"/>
	    	<% elsif rating[:scores] > 300 %>
	    	<img src="<%= asset_path('img_venki/1-Бронза-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Бронза-d.png')%>"/>
	    	<% end %>
	    <% end %>
	    <% if rating[:percent].round(2) >= 80 and rating[:percent].round(2) < 85 %>
	    	<% if rating[:scores] < 300 %>
	    	<img src="<%= asset_path('img_venki/1-Серебро-d.png')%>"/>
	    	<% elsif rating[:scores] > 2000 %>
	    	<img src="<%= asset_path('img_venki/1-Серебро-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Серебро-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Серебро-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Серебро-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Серебро-d.png')%>"/>
	    	<% elsif rating[:scores] > 1000 %>
	    	<img src="<%= asset_path('img_venki/1-Серебро-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Серебро-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Серебро-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Серебро-d.png')%>"/>
	    	<% elsif rating[:scores] > 500 %>
	    	<img src="<%= asset_path('img_venki/1-Серебро-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Серебро-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Серебро-d.png')%>"/>
	    	<% elsif rating[:scores] > 300 %>
	    	<img src="<%= asset_path('img_venki/1-Серебро-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Серебро-d.png')%>"/>
	    	<% end %>
	    	
	    <% end %>
	    <% if rating[:percent].round(2) >= 85 %>
	    	<% if rating[:scores] < 300 %>
	    	<img src="<%= asset_path('img_venki/1-Золото-d.png')%>"/>
	    	<% elsif rating[:scores] > 2000 %>
	    	<img src="<%= asset_path('img_venki/1-Золото-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Золото-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Золото-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Золото-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Золото-d.png')%>"/>
	    	<% elsif rating[:scores] > 1000 %>
	    	<img src="<%= asset_path('img_venki/1-Золото-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Золото-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Золото-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Золото-d.png')%>"/>
	    	<% elsif rating[:scores] > 500 %>
	    	<img src="<%= asset_path('img_venki/1-Золото-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Золото-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Золото-d.png')%>"/>
	    	<% elsif rating[:scores] > 300 %>
	    	<img src="<%= asset_path('img_venki/1-Золото-d.png')%>"/>
	    	<img src="<%= asset_path('img_venki/1-Золото-d.png')%>"/>
	    	<% end %>
	    <% end %>
	    </li>
	</ul>
<% end %>
