<section class="faq_first_screen">
	<a href="/rating" class="closeBack"><img src="<%= asset_path('faq/close_white.png')%>" alt=""></a>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="contentWrap">
				<h1>Рейтинг мозгвы. <br>В чем соль?</h1>
				<p>Чтобы было весело играть и можно было хвастать интеллектуальными достижениями, мы ввели систему рейтинга команд. Светлые головы игроков, которые проводят вечера с нами, мы украшаем бар-олимпийскими венками, пусть пока и виртуально, но всякий раз напротив названия сильной команды можно заметить ее рейтинговые заслуги.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class='faq_two_screen'>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="details">
					<h4>Итак, рассказываем подробности.</h4>
					<p>Количество венков, которые присваиваются команде, зависит, как и полагается, от вашей преданности Мозгве! Если вы жить без нас не можете – венков будет много, если часто пропускаете и, вообще, только 2 раза сходили – будет один ма-а-ахонький веночек, и то, не факт. Если говорить о цифровом выражении, то это сумма всех баллов, набранных вами во всех играх!</p>

					<h5>Итак, кто что и за что получает:</h5>
					<ul>
						<li><b>1 венок </b> - первая ступенечка, ей награждается команда, набравшая 200 баллов.</li>
						<li><b>2 венок</b> - это уже более серьезные ребята, которые в сумме набрали 301 балл</li>
						<li><b>3 венок</b> - на данный момент уже некоторые команды добрались до этого уровня – 500 баллов </li>
						<li><b>4 венок</b> - неудержимые бар-олимпийцы могут получить 4 венка в рейтинге Мозгвы, набрав 1000 баллов!</li>
						<li><b>5 венков</b>, которые огненно сольются я в 5 настоящих Олимпийских колец, получит команда, которая будет в Мозгве уже не гостем, а семьей, и, естественно, пожизненный бесплатный вход которой гарантирован, но набрать нужно, внимание !2000! баллов!
						</li>
					</ul>
					<p>Команда с наибольшим текущим количеством баллов имеет право бесплатного входа на открытые игры Мозгвы.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="details">
					<h4>Какими могут быть венки на нашей бар-олимпиаде:</h4>
					<p>С количеством разобрались, дальше поговорим о материале, из которого венки будут «сплетены». Здесь на первый план выходит качество игры, создать формулу для вычисления которого нам помог один из мудрейших Мозгвичей! </p> 
					<p>Коротко говоря: максимум, который набрала лучшая команда в одном сете вопросов – 100%. Баллы, которые набрали вы – это % от максимума.</p>
					<p>Например: Черешня выиграла и набрала 30 баллов (это 100%), а Пипирки играли в следующий день по этим же вопросам и набрали 27 баллов. Пипирки набрали 90% от максимальных баллов, набранных за сет вопросов – именно эти 90% идут в зачет Пипиркам, а 100% - получит Черешня.</p>
					  <table>
					  	<tbody>
					  		<tr>
					  			<td><img src="<%= asset_path('img_venki/1-Зеленый.png')%>"/><b>Оливковые</b></td>
								<td> - Эти венки получают команды с рейтингом от 0 до 69%</td>
							</tr>
							<tr>
					  			<td><img src="<%= asset_path('img_venki/1-Голубой.png')%>"/><b>Аквамариновые</b></td>
								<td> - Ими награждаются команды с рейтингом 70-74%</td>
							</tr>
							<tr>
					  			<td><img src="<%= asset_path('img_venki/1-Бронза.png')%>" /><b>Бронзовые</b></td>
								<td> - В почетную бронзу окрашиваются венки команд с    высоким результатом 75-79%</td>
							</tr>
							<tr>
					  			<td><img src="<%= asset_path('img_venki/1-Серебро.png')%>"><b>Серебряные</b></td>
								<td> - Эти венки получают команды с рейтингом от 0 до 69%</td>
							</tr>
							<tr>
					  			<td><img src="<%= asset_path('img_venki/1-Золото.png')%>"/><b>Золотые</b></td>
								<td> - Гении и таланты Мозгвы, которых лишь единицы, и к высотам которых стоит стремиться – 85% и выше!</td>
							</tr>
					  	</tbody>
					  </table>
					<p>Естественно, все это касается команд, которые набрали минимум 200 баллов и получили хотя бы 1 бар-олимпийский венок.</p>
					<p>Команда с наивысшим текущим рейтингом качества игры имеет право бесплатного входа на открытые игры Мозгвы.</p>
					<p>Кроме того, красивой красной звездой награждаются команды, занявшие в финальной игре сезона 1 место. Таких команд у нас две: Немножко Выше Среднего и Черешня.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="end_faq">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="wrrr">
					<p>Вот собственно и все. <br> Веселых побед вам, чемпионы!</p>
					<a href="/calendar" class="redBtn">Записаться на игру</a>
				</div>
			</div>
		</div>
	</div>
</section>