<!DOCTYPE html>
<html>
  <head>
    <title>Mozgva</title>
    <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Мозгва"/>
    <meta property="og:image" content="<%= asset_path('mozgvaShare.png') %>"/>
    <meta property="og:description" content="#этомозгвадетка"/>
    <meta property="og:url" content="https://mozgva-staging.herokuapp.com/">
    
    <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>"" type="image/x-icon">

  </head>

  <body>
      <%= yield %>
  </body>
</html>
